/* Start of the stylesheet */

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #000000; 
    background-color: #f7fafc;
}

.container {
    max-width: 900px; 
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(135deg, #141f4f 0%, hsl(217, 83%, 50%) 100%);
    color: white;
    padding: 60px 0;
    margin-bottom: 40px;
    box-shadow: 0 4px 15px rgba(118, 75, 162, 0.3);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px; 
    margin-bottom: 5px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

p {
    color: #000000;
    margin-bottom: 20px;
    line-height: 1.5rem;
}

h2 {
    color: #000000;
    font-size: 1.3rem;
    border-bottom: 1px solid hsl(0, 0%, 0%); 
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
}

ul li {
    margin-left: 25px;
    margin: 10px 0;
    margin-bottom: 15px;
    list-style-type: circle;
}

.role {
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 32px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase; 
}


.header-image img {
    border-radius: 10px; 
    border: 4px solid rgba(5, 39, 233, 0.5);
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.contact-links a {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 0.80rem;
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-list li {
    background-color: white;
    border: 1px solid #2002ff;
    padding: 5px 15px;
    border-radius: 5px; 
    font-weight: 500;
    list-style-type: none;
}

.company {
    font-weight: 500;
    color: #51555c;
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
    background: #e6eef6;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.85rem;
}

.job-entry, .project-entry, .edu-entry {
    margin-bottom: 30px;
}


footer {
    text-align: center;
    color: #4e5257;
    font-size: 0.75rem;
    border-top: 1px solid #858585;
}



